@import "tailwindcss";

body {
  background-color: beige;
}

.section {
  @apply mx-auto max-w-[1400px] px-4 sm:px-6 lg:px-8;
}

button {
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
